body {
    margin: 0%;
    padding: 0%;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 20%;
    padding: 2em;
    margin-left: auto;
}

a {
    color: black;
    text-decoration: none;
}

a :hover {
    text-decoration: underline;
}

nav img {
    height: 20px;
}

main {
    width: 50%;
    margin: 6.5em auto;
    text-align: center;
}

input {
    width: 80%;
    padding: 1rem;
    border-radius: 30px;
    border: 1px solid gray;
}

.btn-container {
    margin-top: 1em;
    border: none;
}

.btn-container button {
    padding: 1em;
}

footer {
    background-color: lightgray;
}

.footer-top {
    padding: 10px;
}

.footer-top p {
    margin-left: 30px;
}

.footer-bottom {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
}

.left a {
    margin-left: 30px;
}

.right a {
    margin-right: 10px;
}